* {
    margin: 0%;
    padding: 0%;
    font-weight: 100;
    font-style: normal;
}

.section-padding {
    padding: 100px 0;
}

.section-padding2 {
    padding: 100px 0 0 0;
}

.parent2 {
    display: flex;
}

.navbar-brand {
    position: relative;
    left: 100px;
}

.login-link {
    text-decoration: none;
    margin: 0px 150px 0px 90px;
}

.nav-link:hover {
    color: black;
}

.dropdown-menu {
    box-shadow: 0 0 30px gray;
}

.carousel-caption {
    position: relative;
    top: 150px;
}

.d-block {
    height: 700px;
    width: 100%;
}

.heading {
    font-size: 45px;
}

.margin {
    margin-bottom: 30px;
}

.filter-container {
    gap: 30px;
    padding: 5px;
    margin-bottom: 25px;
    background-color: white;
}

.filter-container input {
    width: 200px;
    padding: 15px 0 15px 0;
    outline: none;
    border: none;
    font-size: 16px;
}
/* 
.filter-container  select {
    border: none;
    padding: 15px;
    height: 40px;
    border-left: 1px solid gray;
    padding: 8px 60px 0px 30px;
    outline: none;
    color: rgb(73, 71, 71);
}

.drpdn {
    margin: 5px 150px 0px 0px;
}

.filter-container.my-button {
    position: relative;
    right: 90px;
} */

.filter-container .my-button:hover {
    color: black !important;
    border: 2px solid rgb(32, 154, 182) !important;
    background-color: white !important;
}
.my-button:hover {
    color: black !important;
    border: 2px solid rgb(32, 154, 182) !important;
    background-color: white !important;
}
.grid-item {
    border: none;
    padding: 20px 0;
    align-items: center;
}

.grid-item img {
    width: 50px;
    height: 70px;

}

.number {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.box {
    display: flex;
}

.card {
    box-shadow: 0px 0px 40px rgb(192, 189, 189);
}

.status {
    margin: 10px 0px 10px 10px;
    display: flex;
}

.status img {
    width: 10%;
    height: 40px;
    border-radius: 140px;
    margin: 0 15px 0 0;
}

.status div {
    margin-left: 0;
}

.name {
    margin: 0;
    color: gray;
}

.expert {
    color: gray;
    font-size: small;
}

.blog-second-col {
    display: flex; 
}

.para3 {
    font-size: smaller;
}

.blog-maindiv {
    padding-bottom: 50px;
}

.input-email{
    width: 70%;
    outline: none;
}

.main-ul div ul {
    list-style-type: none;
}

.main-ul div ul li a {
    text-decoration: none;

}

.main-ul div ul li a:hover {
    color: rgb(15, 22, 24);
}

@media only screen and (max-width: 578px) {
    .input-email{
        width: 60%;
    }
}


@media only screen and (max-width: 480px) {
    .navbar-brand {
        position: static;
        left: 0px;
    }

    .login-link {
        margin: 0px;
        padding-left: 0px;
    }

    .d-block {
        width: 100%;

    }

    .carousel-caption {
        width: 80%;
        margin: 0px;
        padding: 0px 0px;
    }

    .carousel-captiong .heading1 {
        width: 100%;
        margin: 0%;
        padding: 0;
    }

    .filter-container {
        width: 100%;
        margin: 0px;
        padding: 0;
    }

    .filter-container {
        gap: 5px;
        /* padding: 15px; */
        margin-bottom: 0px;
        background-color: white;
    }

    .filter-container input {
        width: 100%;
        padding: 5px;
    }

    .filter-container .drpdn select {
        border: none;
        padding: 0px 0px 0px 0px;
    }

    .drpdn {
        display: inline;
        /* margin: 0px 70px 0px 0px; */
    }

    .filter-container.my-button {
        position: relative;
        bottom: 20px;
        width: 100%;
    }

}